%div#preloader
  %div.whirlpool
    %div.ring.ring1
    %div.ring.ring2
    %div.ring.ring3
    %div.ring.ring4
    %div.ring.ring5
    %div.ring.ring6
    %div.ring.ring7
    %div.ring.ring8
    %div.ring.ring9

    %h2#initializing Initializing

%div#main

  %div#visualizer
    this is the vizualizeur

  %div#song


%script#app-template{type: 'text/template'}
  %div#visualizer
    this is the vizualizeur

  %div#song

%script#songs-template{type: 'text/template'}
  %h2 Recent songs
  %div#song-list

%script#song-template{type: 'text/template'}
  %div
    Title: {{ title }}
  %div
    Duration: {{ duration }}
  %div
    URL: {{ share_url }}

%script#song-show-template{type: 'text/template'}
  -# %h1 Title: {{ title }}
  -# %h2 Duration: {{ duration }}
  %div#timelines-outer
    %div#timelines
  %div#song-controls
    %button#add-timeline Add new timeline
    %button#record.bounce record
    %button#rewind rewind



%script#timelines-template{type: 'text/template'}
  %div#timelines

%script#timeline-template{type: 'text/template'}


%script#segment-template{type: 'text/template'}


%script#note-template{type: 'text/template'}

