%div#main
  %div#visualizer
    this is the vizualizeur

  %div#song


%script#app-template{type: 'text/template'}
  %div#visualizer
    this is the vizualizeur

  %div#song

%script#songs-template{type: 'text/template'}
  %h2 Recent songs, and Rich is gay. So very gay.
  %div#song-list

%script#song-template{type: 'text/template'}
  %div
    Title: {{ title }}
  %div
    Duration: {{ duration }}
  %div
    URL: {{ share_url }}

%script#song-show-template{type: 'text/template'}
  %h1 Title: {{ title }}
  %h2 Duration: {{ duration }}
  %div#timelines
  %div#song-controls
    %button#add-timeline Add new track
    %button#save-song save song



%script#timelines-template{type: 'text/template'}
  %div#timelines

%script#timeline-template{type: 'text/template'}


%script#track-template{type: 'text/template'}


%script#note-template{type: 'text/template'}

