%div#preloader
  %div.whirlpool
    %div.ring.ring1
    %div.ring.ring2
    %div.ring.ring3
    %div.ring.ring4
    %div.ring.ring5
    %div.ring.ring6
    %div.ring.ring7
    %div.ring.ring8
    %div.ring.ring9

    %h2#initializing Initializing

%div#main
  %div#hello
    %div#close-hello
      = image_tag('icon-05.svg')
    %div#summary
      %p.two-col
        <strong>StereoSpace</strong> is an online sound studio built as a single page application somewhat like Garage Band, Scratch Live or other staple sound producing software however this runs in your browser.
        The keyboard is your soundboard. Once you like your beat, hit record and you can save it. You can add as many timelines as you like, and you can move the sound segment you made along the track.

  %div#visualizer
    this is the vizualizeur

  %div#song


%script#songs-template{type: 'text/template'}
  %h2 Recent songs
  %div#song-list

%script#song-template{type: 'text/template'}
  %div
    Title: {{ title }}
  %div
    Duration: {{ duration }}
  %div
    URL: {{ share_url }}

%script#song-show-template{type: 'text/template'}
  %div#timelines-outer
    %div#timelines


%script#timelines-template{type: 'text/template'}
  %div#timelines

%script#timeline-template{type: 'text/template'}


%script#segment-template{type: 'text/template'}
  %div{:class => 'segment'}

%script#note-template{type: 'text/template'}

